.container{
    padding: 3%;
    display: flex;
    align-items: center;
}

.title{
    margin-top: 10%;    
}

  .title h1 {
    margin-left: 18%; 
    color: #3498db;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 150%;
}

.easy-game-btn{
    margin-left: 15%;
    margin-top: 30%;
    height: 15%;
    width: 70%;
    border-radius: 25px;
    size: large;
    display: inline-block;
    background-color: #3498db;
    color: white;
}

.medium-game-btn{
    margin-left: 15%;
    margin-top: 10%;
    height: 15%;
    width: 70%;
    border-radius: 25px;
    display: inline-block;
    background-color: #3498db;
    color: white;
}

.hard-game-btn{
    margin-left: 15%;
    margin-top: 10%;
    height: 15%;
    width: 70%;
    border-radius: 25px;
    display: inline-block;
    background-color: #3498db;
    color: white;
}