<ion-header translucent>
  <ion-toolbar>
    <ion-title class="header-title">Memory Game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top:10%">
  <ion-label class="username-label" >Enter the code:</ion-label>
 <form [formGroup]="joinKeyForm">
  <ion-input formControlName="code" required type="text" placeholder="Join code" ></ion-input>
  <ion-button expand="block" type="submit" class="login-btn" color="primary">
    <p>JOIN</p>
  </ion-button>
 </form>
  
    </div>
</ion-content>

