<ion-header translucent>
    <ion-toolbar>
      <ion-title class="header-title">Memory Game</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div style="margin-top:10%">
    <ion-label class="username-label" >Game key:</ion-label>
    <p style="margin-left: 5%">gm-skajdkljasdkljasd</p>

    <ion-label class="username-label" >Players key:</ion-label>
    <p style="margin-left: 5%">Player 1 - pl-isadhajshdkjsa</p>
    <p style="margin-left: 5%">Player 2 - pl-isadhajshdkjsa</p>
    </div>
    <div class="ion-padding">

        <ion-button expand="block" (click)="nextPage()" class="login-btn" color="primary">
          <p>NEXT</p>
        </ion-button>
      </div>
</ion-content>
