.header-title {
    color: #3498db;
    font-weight: bolder;
}


.username-label1 {
  margin-left: 2%;
  color: #3498db;
  font-weight: bold;
 
}

.label-separator{
  height: 1rem; 
}

.username-label2 {
  margin-left: 2%;
  color: #3498db;
  font-weight: bold;
  margin-top:10%;

}

.login-btn{
  margin-left: 15%;
  margin-top: 15%;
  height: 15%;
  width: 70%;
  border-radius: 25px;
  size: large;
  display: inline-block;
  background-color: #3498db;
  color: white;
}