
<div style="padding: 20px;">
  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile><ion-icon name="alarm"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="alarm"></ion-icon></mat-grid-tile>
    <mat-grid-tile>  <ion-icon name="baseball"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="baseball"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="bicycle"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="bicycle"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="logo-bitcoin"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="logo-bitcoin"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="body"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="body"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="bowtie"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="bowtie"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="bug"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="bug"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="cafe"></ion-icon></mat-grid-tile>
    <mat-grid-tile><ion-icon name="cafe"></ion-icon></mat-grid-tile>
  </mat-grid-list>
</div>
