mat-grid-tile {
    background: lightblue;
   
  }
  .header-title {
    color: #3498db;
    font-weight: bolder;
    margin-left: 30%;
    margin-right: 10%;
}

.players{
  color: #3498db;
  font-weight: bolder;
  margin-top: 5%;
  margin-left: 1%;
  float: left;
}
.players2{
  color: #3498db;
  font-weight: bolder;
  margin-top: 5%;
  margin-left: 7%;
  float: left;


}
.pl{
 
  color: black; font-weight: initial; margin-top: 3%;

}